.box{
    border: 1px solid black;
}
body{
    margin: 0;
}
.d-flex{
    display: flex;
}
#outer-box{
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.bar{
    margin: 0.5vh;
    height: 7.5vh;
    display: flex;
}
#logo{
    border-radius: 50%;
    margin-left: 5vw;
    width: 4.5vw;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
}
#favourite-text{
    margin-left: 5vw;
    
}
/* Middle box */


#middle-box{
    margin: 0.5vh;
    height: fit-content;
}
.d-aside{
    display: inline-block;
    vertical-align: top;
}
/* left-section */
#left-section{
    width: 70%;
}
#middle-upper{
    height: 30vh;
    justify-content: space-between;
}
.b-3{
    width: 20vw;
    margin: 1vh;
}
#middle-two{
    height: 60vh;
}
#f-box{
    flex-wrap: wrap;
}

.box-heading{
    margin: 1vh;
}
#f-box{
    height: 80%;
    margin: 1vh;
    justify-content: space-between;
}

.poster{
    width: 48%;
    margin-bottom: 1vh;
}

#middle-three{
    margin-top: 0.5vh;
    height: 20vh;
    margin-bottom: 1vh;
}

#circlebox{
    width: 99%;
    margin: 0.5vh;
    height: 14vh;
    justify-content: space-between;
}
#circleboxt{
    width: 99%;
    height: 10vh;
    justify-content: space-between;
}

.artist-box{
    width: 15vh;
    border-radius: 50%;
    height: inherit;
}
.genre-box{
    width: 10vh;
    border-radius: 50%;
}
#middle-five{
    height: 20vh;
    justify-content: space-between;
}
.b-5{
    height: 15vh;
    justify-content: space-between;
    margin-bottom: 0.5vh;
}
.e-b{
    width: 17.5%;
}
/* right-section */

#right-section{
    width: 29%;
}
/* Lower bar */