body {
    margin: 0;
    color: white;
    background-color: rgba(12, 16, 39, 255);
}
/* Hide scrollbar */
body::-webkit-scrollbar{
    display: none;
}
#outer-box {
    height: 100%;
    width: 99.5vw;
    display: flex;
    flex-direction: column;
}

/* Navbar */

#upper-box {
    display: flex;
    width: 100%;
    background-color: rgba(12, 16, 39, 255);
    top: 0%;
    padding: 0.5% 0;
    position: fixed;
    z-index: 1;
}
.bar {
    height: 7.5vh;
}
#logo {
    border-radius: 50%;
    margin-left: 5vw;
    width: 4.5vw;
    height: inherit;
    justify-content: center;
    align-items: center;
}
#logo i {
    font-size: 225%;
    color: white;
}
#app-name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#favourite-text {
    margin-left: 5vw;
    margin-top: 1%;
}
#right-items {
    position: relative;
    left: 49vw;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
#pill {
    box-sizing: border-box;
    border-radius: 0.8rem;
    height: 60%;
    width: 50%;
    padding-left: 1%;
    background-color: rgba(17,25,62,255);
}
#pill i {
    color: white;
}
input {
    background-color: transparent;
    border: none;
    height: 85%;
}
#profile {
    border-radius: 50%;
    height: 70%;
    width: 2.75em;
    background-image: url(./profile.avif);
    background-size: 95%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
input[type="text"] {
    width: 80%;
}


/* Middle section */


#middle-box {
    margin: 7.5vh;
}
.d-aside {
    display: inline-block;
    vertical-align: top;
}

/* left panel */
#left-section {
    width: 68%;
    margin-right: 2%;
}
#artist-display {
    height: 40vh;
    background-color: rgba(17,25,62,255);
}
#artist-image {
    width: 45%;
    margin: 1%;
    box-sizing: content-box;
}
#artist-image img{
    height: 100%;
    width: 100%;
}
#artist-description {
    width: 55%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
}
#artist-d{
    margin-top: -8%;
    overflow: scroll;
}
#artist-d::-webkit-scrollbar{
    display: none;
}
#artist-inner-box {
    height: 80%;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
}
.align-start{
    align-items: flex-start;
}
#artist{
    justify-content: space-between;
}
#gradient-box{
    height: 5vh;
    background-image: linear-gradient(90deg, rgba(77,42,184,255),rgba(185,69,220,255));
    font-weight: 600;
    margin-bottom: 6%;
    justify-content: center;
    align-items: center;
}
ol .f{
    background-color: rgba(25,30,50,255);
    margin-left: -5%;
}
.song-box3{
    opacity: 0.7;
    height: 6vh;
    width: 6vh;
}
/* Two type of play classes */
.play{
    position: absolute;
    left: 9%;
    height: 100%;
    width: 6vh;
    justify-content: center;
    align-items: center;
}
.play2{
    position: absolute;
    left: 6%;
    height: 100%;
    width: 6vh;
    justify-content: center;
    align-items: center;
}
.absolute-right1{
    position: absolute;
    right: 5%;
}

/* Right panel */
#right-section {
    width: 29%;
    height: 80vh;
}
#upper-aside {
    margin-bottom: 2%;
}
.right-panel-heading {
    margin-top: 1%;
    height: 10%;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: 700;
}
.song-box2{
    height: 15vh;
    min-width: 15vh;
}
/* song-text after song-box2 */
.song-box2 + .song-text{
    margin-left: 5%;
    justify-content: center;
}
.left-list{
    width: 100%;
}


/* Lower box */

#lower-box {
    background-color: rgba(40, 40, 40, 255);
    justify-content: space-around;
    margin: 0px;
    width: 100%;
    position: fixed;
    bottom: 0%;
}
#left-box {
    width: 15%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(40, 40, 40, 255);
}
#display-box {
    height: 2em;
    width: 2em;
    background-image: url(./HomeScreen/john\ lenon);
    background-size: contain;
}
#midle-box {
    width: 40vw;
    align-items: center;
    flex-direction: column;
}
#upper-part,
#lower-part {
    width: 100%;
    height: 50%;
    background-color: rgba(40, 40, 40, 255);
}
#upper-part {
    margin-top: 0.5%;
    justify-content: center;
}
.control-icons {
    margin: 0 2%;
}
#lower-part {
    padding: 1%;
    box-sizing: border-box;
}
#music-player {
    width: 80%;
}
#pause{
    padding-left: 2%;
    padding-top: 0.5%;
}
#right-box {
    width: 20%;
    align-items: center;
    background-color: rgba(40, 40, 40, 255);
}
#volume {
    width: 50%;
}

/* General Classes */
.count{
    margin-left: 1%;
    display: flex;
    align-items: center;
}
.fa-chart-simple{
    color: rgba(33,119,147,255)
}
.mb-2{
    margin-bottom: 20%;
}
.mt-2{
    margin-top: 1.5%;
}
.mt-5{
    margin-top: 5%;
}
.song-box{
    height:6vh;
    width:6vh;
}
.song1{
    background-image: url(./HomeScreen/songcover/first.png);
    background-size: contain;
}
.song2{
    background-image: url(./HomeScreen/songcover/2.png);
    background-size: contain;
}
.song3{
    background-image: url(./HomeScreen/songcover/3.png);
    background-size: contain;
}
.song4{
    background-image: url(./HomeScreen/songcover/4.png);
    background-size: contain;
}
.t-s{
    font-size: 0.8rem;
}
.sec-color{
    color: darkgrey;
}
.t-l{
    font-size: 2rem;
    font-weight: bold;
}
.second{
    width: fit-content;
}
.absolute-right{
    position: absolute;
    right: 2%;
}
.two-box{
    margin-left: 1%;
}
.text-alignment{
    text-align: start;
}
.flex-start{
    justify-content: flex-start;
}
.song-text{
    flex-direction: column;
}
.bold{
    font-weight: bold;
}
li{
    position:relative;
    margin-bottom: 2%;
}
.mt-3{
    margin-top: 3%;
}
.d-flex {
    display: flex;
}

/* Media Queries for responsiveness */

@media screen and (max-width: 1245px) {
    #artist-d{
        margin-top: 0%;
    }
}
@media screen and (max-width: 840px) {
    body{
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
    }
    #upper-box{
        color: white;
        overflow-x: scroll;
    }
    #app-name{
        margin-left: 3%;
    }
    #right-items{
        left:13vh;
        min-width: 174.8px;
    }
    #upper-aside{
        min-width: 187.66px;
    }
    ol li.d-flex{
        min-width: 177.22px;
    }
    #right-section, #left-section{
        overflow-x: scroll;
    }    
    #right-section::-webkit-scrollbar, #left-section::-webkit-scrollbar{
        display: block;
        width:1vh;
        height:1vh;
    }
    #right-section::-webkit-scrollbar-track, #left-section::-webkit-scrollbar-track{
        background: gray;
    }
    #right-section::-webkit-scrollbar-thumb, #left-section::-webkit-scrollbar-thumb{
        background: black;
    }

    ol .f{
        background-color: gray;
        min-width: 488.85px;
    }
    #artist-display{
        background-color: gray;
    }
    .sec-color{
        color: black;
    }
    #lower-box{
        color:white;
    }
}
@media screen and (max-width:500px){
    #left-section{
        width: 100%;
    }
    #right-section{
        width: 100%;
    }
}