.box{
    border: 1px solid white;
    
    color: white;
}
body{
    margin: 0;
    background-color: rgba(12,16,39,255);
    color: white;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}
.d-flex{
    display: flex;
}
#outer-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#upper-box{
    display: flex;
    margin: 0.5% 0;
}
.bar{
    margin: 0.5vh;
    height: 7.5vh;
    
}
#logo{
    border-radius: 50%;
    margin-left: 5vw;
    width: 4.5vw;
    height:inherit;
    justify-content: center;
    align-items: center;
}
#logo i{
    font-size: 225%;
    color: white;
}
#app-name{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    background-color: transparent;
}
#favourite-text{
    margin-left: 5vw;
}
#right-items{
    position: relative;
    left: 49vw;
    width:25%;
    align-items:center;
    justify-content: space-between;
}
#pill{
    box-sizing: border-box;
    border-radius: 0.8rem;
    height:60%;
    width: 50%;
    padding-left:1%;
}
#pill i{
    color: white;
}
input{
    background-color: transparent;
    border: none;
    height: 85%;
}
#profile{
    border-radius: 50%;
    height: 70%;
    width: 2.75em;
    background-image: url(./profile.avif);
    background-size: contain;
}
input[type="text"]{
    width: 60%;
}

/* Middle box */

#middle-box{
    margin: 0.5vh;
    height: fit-content;
}
.d-aside{
    display: inline-block;
    vertical-align: top;
}

/* left-section */

#left-section{
    width: 70%;
}
#middle-upper{
    height: 30vh;
    justify-content: space-between;
    box-sizing: border-box;
}
.b-3{
    width: 21vw;
    margin: 1vh 1vh 0;
    height: 90%;
    
}
.b-3 img{
    width: 100%;
    height: 100%;
}
.h-3:hover{
    transform: scale(110%);
}
#middle-two{
    height: 35vh;
}
.box-heading{
    margin: 2vh 1vh 1vh;
    font-weight: 600;
    font-size: 1.2em;
}
#f-box{
    flex-wrap: wrap;
    height: 82%;
    margin: 1vh;
    justify-content: space-between;
}
.poster{
    width: 48%;
    margin-bottom: 1vh;
    position: relative;
}
.posterPic{
    width: 25%;
    background-image: url(./HomeScreen/john\ lenon);
    background-size: cover;
    background-repeat: no-repeat;
}
.mt-2{
    margin-top: 2%;
}
div.two-box.d-flex{
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 2%;
}
input[type="checkbox"]{
    display: none;
}
#check1:checked ~ #toggler1{
    display: block;
}
#check2:checked ~ #toggler2{
    display: block;
}
#check3:checked ~ #toggler3{
    display: block;
}
#check4:checked ~ #toggler4{
    display: block;
}
#toggler1{
    top: 65%;
}
#toggler2{
    top: 65%;
}
#toggler3{
    top: 65%;
}
#toggler4{
    top: 65%;
}
.toggler{
    width: max-content;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display:none;
    color: black;
}
#middle-three{
    margin-top: 0.5vh;
    height: 23vh;
    margin-bottom: 1vh;
}
#circlebox{
    width: 99%;
    margin: 0.5vh;
    height: 17vh;
    justify-content: space-between;
}
.artist-box{
    width: 17vh;
    border-radius: 50%;
    height: 80%;
}
.artist-box a{
    width: inherit;
    border-radius: inherit;
}
.artist-box img{
    width: inherit;
    height: 100%;
    border-radius: inherit;
}
#middle-four{
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(16,22,66,255);
}  
#circleboxt{
    width: 99%;
    height: 65%;
    justify-content: space-between;
}
#stations{
    margin: 1vh;
    height: 90%;
    width: 17%;
    background-image: url(./HomeScreen/genre/stations.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.genre-box{
    width: 15%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.genre-box div{
    opacity: 1;
    color: #000000;
    text-shadow:2px 1px 1px rgb(255, 255, 255);
}
#genre1{
    background-image: url(./HomeScreen/genre/love.jpeg);
    background-size: contain;
}
#genre2{
    background-image: url(./HomeScreen/genre/retro.jpeg);
    background-size: contain;
}
#genre3{
    background-image: url(./HomeScreen/genre/chill.jpeg);
    background-size: contain;
}
#genre4{
    background-image: url(./HomeScreen/genre/workout.png);
    background-size: contain;
}
#genre5{
    background-image: url(./HomeScreen/genre/rock.jpeg);
    background-size: contain;
}
#genre6{
    background-image: url(./HomeScreen/genre/pop.jpeg);
    background-size: contain;
}
#genre1{
    background-image: url(./HomeScreen/genre/love.jpeg);
    background-size: contain;
}
#middle-five{
    margin-top: 2.5%;
    height: 20vh;
    justify-content: space-between;
}
#artist1{
    background-image: url("./HomeScreen/party.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#artist2{
    background-image: url("./HomeScreen/electronic.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#artist3{
    background-image: url("./HomeScreen/road\ trip.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.b-5{
    height: 25vh;
    justify-content: space-between;
    margin-bottom: 0.5vh;
}
.date{
    color: darkgrey;
    font-size: smaller;
}
.e-b{
    width: 17.5%;
}
.e-b img{
    width: 100%;
    height: 65%;
}
.club{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
/* right-section */

#right-section{
    width: 29%;
}
#right-head{
    justify-content: space-between;
    height: 6vh;
    align-items: flex-end;
}
#first-head{
    width: 35%;
    font-size: 2rem;
    font-weight: 800;
}
#second-head{
    height: 50%;
    width: 16%;
    justify-content: space-between;
    align-items: flex-end;
}
select{
    background-color: transparent;
    color: rgba(76,215,184,255);
    width:100%;
    border-style: none;
}
#arrow{
    transform: rotate(90deg);
}
#queue-list{
    margin-top: 2vh;
    overflow: scroll;
    height: 100vh;

}
#queue-list::-webkit-scrollbar{
    display: none;
}
li{
    justify-content: space-between;
    align-items: center;
    margin: 2vh;
}
.song-box{
    height:5vh;
    width:5vh;
}
.song-text{
    position:relative;
    right: 11vh;
}
.heart{
    position: relative;
    right: 1vw;
    height: 3vh;
    width: 2vw;
}

/* Lower bar */
#lower-box{
    background-color: rgba(40,40,40,255);
    justify-content: space-around;
    margin: 0px;
    width: 100%;
}
#left-box{
    width: 15%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(40,40,40,255);
}
#midle-box{
    width: 40vw;
    align-items: center;
    flex-direction: column;
}
#right-box{
    width: 20%;
    align-items: center;
    background-color: rgba(40,40,40,255);
}
#display-box{
    height:2em;
    width:2em;
    background-image: url(./HomeScreen/john\ lenon);
    background-size: contain;
}
#upper-part, #lower-part{
    width:100%;
    height: 50%;
    background-color: rgba(40,40,40,255);
}
#upper-part{
    margin-top: 0.5%;
    justify-content: center;
}
.control-icons{
    margin: 0 2%;
}
#lower-part{
    padding: 1%;
    box-sizing: border-box;
}
#music-player{
    width:80%;
}
.music-controls{
    margin: 0 2%;
}
#volume{
    width:50%;
}