:root{
    --bgColor: rgba(232,231,230,255);
    --cardColor: rgba(107,184,222,255);
    --contrastColor: rgba(5,115,171,255);
    --textColor: black;
}
p{
    display: inline-block;
}
body{
    margin: 0;
    background-color: var(--bgColor);
}
button{
    background-color: rgba(145,91,253,255);
    height: 30px;
}
input{
    width: 50%;
    height: 7%;
}
.box{
    border: 2px solid black;
}
.card{
    background-color: var(--cardColor);
}
.topbar{
    width: 98.5vw;
    height: 5vh;
    position: relative;
    color: white;
}
#checkbox{
    display: none;
}
#toggle-container{
    height: 100%;
    width: 8%;
    display: flex;
    position: absolute;
    right: 5px;
    padding: 1px;
    border-radius: 17px;
    background-color: lightgray;
    box-sizing: border-box;
}
#toggle-container p{
    margin-top: 6%;
    position: absolute;
    right:6%;
    font-size: large;
}
#genre-list, #currPlaylist, #playlists{
    height: 5%;
    width: 90%;
}
#genre-list p, #currPlaylist p, #playlists p{
    background-color: var(--contrastColor);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0 0 10px;
    font-weight: lighter;

}
#toggler{
    width: 30%;
    height: 95%;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}
#checkbox:checked + #toggle-container #toggler{
    transform: translateX(30px);
}
#checkbox:checked + #toggle-container{
    background-color: var(--cardColor);
}
.heading-container{
    width: 98.5vw;
    height: 10vh;
}
/* #genre-list{
    color: var(--)
} */

#left:hover, #right:hover{
    cursor: pointer;
}
#currPlaylist{
    height: fit-content;
    /* overflow-y: scroll; */
}






.cards{
    width: 98.5vw;
    height: 110vh;
    display: flex;
}
#card1{
    flex-grow: 2;
    /* height: inherit; */
    width: 20vw;
    padding-left: 25px;
}
#card1 > p{
    font-weight: bold;
    font-size: larger;
}
select{
    background-color: #3F708A;
    height: 30px;
}


#card2{
    flex-grow: 1;
    /* height: inherit; */
    width: 40vw;
    margin: 0px 25px;
}
#song-display{
    margin: 5%;
    padding: 5% 4% 0;
    border-radius: 20px;
    height: 65%;
    background-color: var(--contrastColor);
}
#song-image{
    height: 70%;
    width: 100%;
}
.changeBtn{
    width: 15%;
    margin-bottom: 3%;
    font-weight: bold;
    color: white;
}


#card{
    flex-grow: 2;
    width: 30vw;
    /* height: inherit; */
}
#card3{
    margin-top: 10px;
    width: 80%;
    height: 90%;
}

#playlists, #currPlaylist{
    width: 80%;
    font-size: 1.25em;
    margin-left: 10%;
}